.select {
  position: relative;
  width: 150px;

  &__head {
    display: flex;
    align-items: center;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    padding: 10px 30px 10px 12px;
    cursor: pointer;
    width: 100%;
    height: 44px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 1.2rem;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: $base-transition;
      @include background-svg(
        '<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.83864 5.50182C4.44434 6.10888 3.55568 6.10888 3.16139 5.50182L0.619076 1.58767C0.186969 0.922403 0.664418 0.0429688 1.4577 0.0429688H6.54232C7.33561 0.0429688 7.81306 0.922402 7.38095 1.58767L4.83864 5.50182Z" fill="#4E697E"/></svg>'
      );
    }

    &.active {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__text {
    font-size: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 0px 13px 41px rgba(9, 60, 102, 0.12);
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    top: 48px;
    left: 0;
    right: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: $base-transition;

    &.active {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &__item {
    min-height: 40px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.active {
      background-color: rgb(246, 246, 246);
    }
  }

  &__img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
