.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(16/10)*1rem;
	width:(21/16)*1em;
	fill: black;
}
.icon-close {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-cm-mirror {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-ds {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-favicon {
	font-size:(70/10)*1rem;
	width:(70/70)*1em;
}
.icon-list {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-logo_white {
	font-size:(89/10)*1rem;
	width:(427/89)*1em;
}
.icon-mirror {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-modalIcon {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-stars {
	font-size:(60/10)*1rem;
	width:(76/60)*1em;
}
.icon-tg {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-tw {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
