.header {
	padding: 0.8rem 0;
	position: relative;
	min-height: 5.5rem;
	display: flex;
	align-items: center;

	.main-link {
		margin-right: 1rem;
		&:last-of-type {
			margin-right: 0;
		}

		@include media(">=tablet") {
			margin-right: 2.5rem;
		}
		
	}
}

.header-wrap {
	display: flex;
	align-items: center;
}

.logo {
	span {
		font-weight: 700;
		font-size: 1.6rem;
		color: $black;
	}

	img {
		width: 100%;
		height: 100%;
		display: block;
	}
}

.icon-logo-black {
	width: 150px!important;
	font-size: 2rem;
}

.nav {
	width: 32rem;
	position: fixed;
	top: 0;
	right: 0;
	padding: 9rem 5rem;
	background-color: $black;
	z-index: 5;
	transition: $base-transition;
	display: flex;
	flex-direction: column;
	height: 100vh;
	transform: translateX(100%);

	&.active {
		transform: translateX(0);
	}

	&__list {
		display: flex;
		flex-direction: column;
		margin-bottom: 8rem;
	}

	&__item {
		margin-bottom: 3rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		font-weight: 700;
		font-size: 1.6rem;
		color: $white;
		border-bottom: 2px solid transparent;
		padding-bottom: 0.3rem;

		&:hover {
			border-color: $white;
		}
	}
}

.burger {
	cursor: pointer;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	position: relative;
	z-index: 6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: $base-transition;

	@include media(">=tablet") {
		margin-left: 20px;
	}

	&.active {
		background-color: $black;
		span {
			position: absolute;
			background-color: $white;

			&:nth-child(1) {
				top: 10px;
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&:nth-child(2) {
				top: 7px;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}

	span {
		width: 17px;
		height: 2px;
		background-color: $black;
		transition: $base-transition;

		&:nth-child(1) {
			margin-bottom: 3px;
		}

		&:nth-child(2) {
			margin-top: 3px;
		}
	}
}

.header-options {
	margin-left: auto;
	display: flex;
	align-items: center;
	.icon{
		color: #a0a6ae;
	}
	
}

.main-link {
	font-weight: 500;
	font-size: 1.4rem;
	text-align: center;
	color: $black;
	line-height: 1;

	@include media(">=tablet") {
		font-size: 1.6rem;
	}

	&.primary {
		border-bottom: 1px solid transparent;

		&:hover {
			border-color: $black;
		}
	}

	&.secondary {
		border-radius: 1rem;
		border: 1px solid $black;
		padding: 0.5rem;

		@include media(">=tablet") {
			padding: 1rem 2rem;
		}

		&:hover {
			background-color: $black;
			color: $white;
		}
	}
}

.soc-wrap {
	display: flex;

	li {
		margin-right: 2.5rem;
		&:last-child {
			margin-right: 0;
		}
	}

	a {
		width: 2.5rem;
		height: 2.5rem;

		&:hover {
			svg {
				color: $white;
			}
		}
	}

	svg {
		transition: $base-transition;
		color: #a0a6ae;
	}
}

.header-options_icons{
	margin-right: 10px;
	display: flex;
	align-items: center;
	@include media("<=phone-lg") {
		display: none;
	}
}