<footer class="footer">
	<div class="container">
		<div class="footer-wrap">
			<span class="footer-name">nftscore 2022. All rights reserved</span>
			<ul class="soc-wrap">
				<li>
					<a href="#" target="_blank">
						<svg class="icon icon-tg">
							<use xlink:href="#tg"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<svg class="icon icon-ds">
							<use xlink:href="#ds"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<svg class="icon icon-tw">
							<use xlink:href="#tw"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>