<footer class="footer">
	<div class="container">
		<div class="footer-wrap">
			<span class="footer-name">NFTScore 2022. All rights reserved</span>
			<ul class="soc-wrap">
				<li>
					<a href="https://nftscore.xyz/" target="_blank">
						<svg class="icon icon-mirror">
							<use xlink:href="#mirror"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="https://discord.gg/dvByGUAC6B" target="_blank">
						<svg class="icon icon-ds">
							<use xlink:href="#ds"></use>
						</svg>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/nftscore_xyz" target="_blank">
						<svg class="icon icon-tw">
							<use xlink:href="#tw"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
