<header class="header">
	<div class="container">
		<div class="header-wrap">
			<a href="#" class="logo">
				<img class="icon-logo-black" src="assets/icons/logo_dark.svg">
			</a>
			<nav class="nav js-burger">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#features" class="nav__link js-link-to">Features</a>
					</li>
					<li class="nav__item">
						<a href="#pricing" class="nav__link js-link-to">Pricing</a>
					</li>
					<li class="nav__item">
						<a href="#community" class="nav__link js-link-to">Community</a>
					</li>
				</ul>
				<ul class="soc-wrap">
					<!-- <li>
						<a href="#" target="_blank">
							<svg class="icon icon-tg">
								<use xlink:href="#tg"></use>
							</svg>
						</a>
					</li> -->
					<li>
						<a href="https://twitter.com/nftscore_xyz" target="_blank">
							<svg class="icon icon-tw">
								<use xlink:href="#tw"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="https://discord.gg/dvByGUAC6B" target="_blank">
							<svg class="icon icon-ds">
								<use xlink:href="#ds"></use>
							</svg>
						</a>
					</li>
				</ul>

			</nav>
			<div class="header-options">
				<div class="header-options_icons">
					<a href="https://nftscore.xyz/" target="_blank" class="main-link primary">
						<svg class="icon icon-mirror">
							<use xlink:href="#mirror"></use>
						</svg>
					</a>
					<a href="https://twitter.com/nftscore_xyz" target="_blank" class="main-link primary">
						<svg class="icon icon-tw">
							<use xlink:href="#tw"></use>
						</svg>
					</a>
					<a href="https://discord.com/invite/sPs7gNrdgQ" target="_blank" class="main-link primary">
						<svg class="icon icon-ds">
							<use xlink:href="#ds"></use>
						</svg>
					</a>
					<a href="#" target="_blank" class="main-link primary">
						<svg class="icon icon-list" >
							<use xlink:href="#list"></use>
						</svg>
					</a>
					<a href="https://docsend.com/view/3ryweac86vad3kib" target="_blank" class="main-link primary">For Investors</a>
				</div>
				
				
				<a href="http://bit.ly/3G2suER" target="_blank" class="main-link secondary">Enter App</a>
				<div class="burger js-burger-open">
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
	</div>
</header>
