<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://nftscore.xyz/">
  <meta property="og:title" content="NFTScore.xyz - discover NFTs & trade with profit">
  <meta property="og:description" content="Subscription-based service designed for NFT traders. Optimize and automate NFT trading, get advanced analytics on all NFT market events and competitive advantage to maximize your profit.">
  <meta property="og:image" content="">

  <meta property="twitter:url" content="https://nftscore.xyz/">
  <meta name="twitter:title" content="NFTScore.xyz - discover NFTs & trade with profit">
  <meta name="twitter:description" content="Subscription-based service designed for NFT traders. Optimize and automate NFT trading, get advanced analytics on all NFT market events and competitive advantage to maximize your profit.">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@NFTScore_xyz">
  <meta property="twitter:domain" content="nftscore.xyz">
  <meta name="twitter:image" content="">

  <title>NFTScore.xyz - discover NFTs & trade with profit</title>
  <meta name="description" content="Subscription-based service designed for NFT traders. Optimize and automate NFT trading, get advanced analytics on all NFT market events and competitive advantage to maximize your profit.">
  <link rel="canonical" href="https://nftscore.xyz">

  <link rel="manifest" href="/src/icons/site.webmanifest">
  <link rel="icon" href="/src/icons/favicon.ico">
  <link rel="shortcut icon" href="/src/icons/favicon.ico">
  <link rel="apple-touch-icon" href="/src/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/src/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/src/icons/favicon-16x16.png">
  <meta name="keywords" content="Web3, NFT, nft score, ranking, scoring, eth, ethereum, solana, whales, nft analysis, nft scoring, data stats, trading, live trading, rarity, nft collections, opensea, looksrare, x2y2, sudoswap, nftx, nft buy, nft offer">

  <link media="all" rel="stylesheet" href="assets/css/vendor.min.css">
  <link media="all" rel="stylesheet" href="assets/css/styles.min.css">
</head>